# Migrations
BugTracker/Migrations/

# bin
BugTracker/bin/

# obj
BugTracker/obj/

# .vs
.vs/

# files that attached to the bug
BugTracker/wwwroot/files/

BugTracker/.config

BugTracker/Properties/PublishProfiles
BugTracker/Properties/ServiceDependencies
BugTracker/Properties/serviceDependencies.json
BugTracker/Properties/serviceDependencies.zstubugtracker - Web Deploy.json
BugTracker/Properties/serviceDependencies.zstubugtracker - Web Deploy.json.user