@using Microsoft.AspNetCore.Identity;
@model IEnumerable<Role>

<div class="row mb-2">
    <div class="col-12">
        <form asp-controller="Roles" asp-action="AddRole" method="post">
            <div class="input-group" style="gap: 10px;">
                <input name="roleName" placeholder="Role Name" class="form-control w-25">
                <span class="input-group-btn">
                    <button class="btn custom-btn-primary">Add New Role</button>
                </span>
            </div>
        </form>
    </div>
</div>

<div class="row mb-2">
    <div class="col-12">
        <h1>All Roles</h1>
    </div>
</div>

<div class="row">
    <div clas="col-12 table-responsive">
        <table class="table table-striped" id="roleTable">
            <thead>
                <tr>
                    <th>Role</th>
                    <th style="width:15%">Actions</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var role in Model)
            {
                <tr>
                    <td>@role.Name</td>
                    <td>
                        <div class="btn-group">
                            <button type="button"
                                    class="btn btn-default dropdown-toggle p-0"
                                    data-bs-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                Action
                            </button>
                            <div class="dropdown-menu shadow animated--grow-in">
                                <a asp-controller="Roles" asp-action="ManageUsersInRole" asp-route-roleId="@role.Id" class="dropdown-item">
                                    <i class="fas fa-pencil-alt"></i> Manage Users
                                </a>

                                <a style='margin-right:16px' asp-controller="Permissions" asp-action="Index" asp-route-roleId="@role.Id" class="dropdown-item">
                                    <i class="fas fa-wrench"></i> Permissions
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
