.index-container {
    border-radius: 5px;
    /*box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px px;*/
    /*box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;*/
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    /*box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;*/
}

.index-title {
    height: 50px;
    margin-top: 10px;
    padding: 5px 0 5px 15px;
}
.index-title h3 {
    
}
.index-search {
    position: relative;
    height: 80px;
    padding: 15px;
    margin-top: 25px;
    display: flex;
    gap: 25px;
}

.index-table {
    margin-top: 5px;
    padding: 10px;
    min-height: 700px;
}

a {
    text-decoration: none;
}

.index-container i {
    position: absolute;
}

.fa-search {
    padding: 15px 0 15px 15px;
    min-width: 40px;
}

.search-input {
    width: 100%;
    padding: 10px 0 10px 40px;
}

.search-input:focus {
    box-shadow: none;
}

.search-field {
    width: 500px;
}

.btn.add-btn {
    position: absolute;
    right: 30px;
    margin-top: 3px;
    background: #003147;
    color: white;
}

.btn.add-btn:hover {
    color: lightblue !important;
}
@media (max-width: 992px) {
}

@media (max-width: 768px) {
    .search-field {
        width: 300px;
    }
}

@media (max-width: 480px) {
    .search-field {
        width: 150px;
    }
}
