@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow-x: hidden;
}
.my-containerr {
    position: relative;
    width: 100%;
}
.my-navigation {
    position: fixed;
    width: 300px;
    height: 100%;
    background: #003147;
    transition: 0.5s;
    overflow: hidden;
}
.my-navigation.active {
    width: 60px;
}
ul.my-ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
li.my-li {
    position: relative;
    width: 100%;
    list-style: none;
}
li.my-li:hover {
    background: #03a9f4;
}
li.my-li:nth-child(1) {
    margin-bottom: 30px;
}
li.my-li:nth-child(1):hover {
    background: transparent;
}
a.my-a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #fff;
}
a.my-a:hover {
    color: #fff;
}
a.my-a.active {
    background: #03a9f4;
}
.my-navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.my-navigation ul li a .icon .fa-solid {
    color: #fff;
    font-size: 18px;
}

.my-navigation ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
}
.my-navigation ul li a .title h2 {
    padding-top: 8px;
}
.my-navigation ul li a .title h3 {
    font-size: 18px;
    padding-top: 17px;
}
.main {
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: #f5f5f5;
    transition: 0.5s;
}
.main.active {
    width: calc(100% - 60px);
    left: 60px;
}
.main .top-bar {
    width: 100%;
    background: #fff;
    height: 60px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.toggle {
    position: relative;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.toggle::before {
    content: '\f0c9';
    font-family: fontAwesome;
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 60px;
    font-size: 24px;
    text-align: center;
    color: #111;
}

@media (max-width: 992px) {
    .my-navigation {
        left: -300px;
    }

    .my-navigation.active {
        left: 0;
        width: 300px;
    }

    .main {
        width: 100%;
        left: 0;
    }

    .main.active {
        width: calc(100%-300px);
        left: 300px;
    }
}

@media (max-width: 768px) {
    .my-navigation {
        left: -300px;
    }

    .my-navigation.active {
        left: 0;
        width: 300px;
    }
    .main {
        width: 100%;
        left: 0;
    }

    .main.active {
        width: calc(100%-300px);
        left: 300px;
    }
}
@media (max-width: 480px) {
    .my-navigation {
        width: 100%;
        left: -100%;
        z-index: 1000;
    }

    .my-navigation.active {
        width: 100%;
        left: 0;
    }

    .toggle, toggle.active {
        position: fixed;
        z-index: 10000;
        right: 0;
        left: initial;
    }

    .toggle.active::before {
        color: #fff;
    }

    .main, main.active {
        width: 100%;
        left: 0;
    }
}