.project-details {
    padding: 25px;
    border-radius: 5px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.project-details h3 {
    font-s
}
.project-details .row {
    margin-top: 25px;
}
.project-details .row .col-3 label {
    font-size: 18px;
    font-weight: 400;
}